.Input {
  width: 100%;
  padding: 10px;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background: #fff;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
}

.InputElement:focus {
  outline: none;
  border: 1px solid #f08e4a;
}

.InValid {
  border: 1px solid #e44545;
}
